<div class="content">
  <mat-toolbar>
    <h3>Communities</h3>
    <button mat-button mat-raised-button color="accent" (click)="doAddCommunity()">Add Community</button>
  </mat-toolbar>
  <div class="mat-elevation-z8">
    <mat-form-field>
      <mat-label>Filter</mat-label>
      <input matInput (keyup)="doApplyFilter($event)" placeholder="Ex. EldoGlen Estate">
    </mat-form-field>
    <table mat-table [dataSource]="dataSource" matSort>

      <!-- Edit Column -->
      <ng-container matColumnDef="edit">
        <th mat-header-cell *matHeaderCellDef class="button-col"></th>
        <td mat-cell *matCellDef="let element" class="button-col">
          <button mat-icon-button aria-label="Edit the community" (click)="doEditCommunity(element)">
            <mat-icon>edit</mat-icon>
          </button>
        </td>
      </ng-container>

      <!-- Delete Column -->
      <ng-container matColumnDef="delete">
        <th mat-header-cell *matHeaderCellDef class="button-col"></th>
        <td mat-cell *matCellDef="let element" class="button-col">
          <button mat-icon-button color="warn" aria-label="Delete this community" (click)="doDeleteCommunity(element)">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
      </ng-container>

      <!-- Location Column -->
      <ng-container matColumnDef="location">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Location </th>
        <td mat-cell *matCellDef="let element"> {{element.location}} </td>
      </ng-container>

      <!-- Map Column -->
      <ng-container matColumnDef="mapString">
        <th mat-header-cell *matHeaderCellDef class="button-col"> Map </th>
        <td mat-cell *matCellDef="let element" class="button-col"><button mat-raised-button mat-icon-button
            aria-label="Show location on map" (click)="doShowMap(element)">
            <mat-icon>my_location</mat-icon>
          </button></td>
      </ng-container>

      <!-- HOA Name Column -->
      <ng-container matColumnDef="hoaName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> HOA </th>
        <td mat-cell *matCellDef="let element"> {{element.hoaName}} </td>
      </ng-container>

      <!-- HOA Registration Column -->
      <ng-container matColumnDef="hoaRegistration">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> HOA Registration</th>
        <td mat-cell *matCellDef="let element"> {{element.hoaRegistration}} </td>
      </ng-container>

      <!-- HOA Email Column -->
      <ng-container matColumnDef="hoaEmail">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> HOA Email</th>
        <td mat-cell *matCellDef="let element"> {{element.hoaEmail}} </td>
      </ng-container>

      <!-- HOA Tel Column -->
      <ng-container matColumnDef="hoaTel">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> HOA Tel</th>
        <td mat-cell *matCellDef="let element"> {{element.hoaTel}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
  </div>
</div>
<router-outlet></router-outlet>
