table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

.content>div {
  padding: 1em;
}

.button-col {
  width: 4em;
}

mat-toolbar {
  background: rgba(255, 255, 255, 0);

}

mat-toolbar>h3 {
  margin-right: 1em;
}
