<!-- <h1 mat-dialog-title>Map for {{community.name}}</h1> -->
<div mat-dialog-content>
  <google-map height="400px" width="400px" [center]="center" [zoom]="zoom">
    <map-marker #marker [options]="markerOptions"></map-marker>
  </google-map>
</div>
