<div class="content">
  <h1>Welcome</h1>
  <h2>Welcome to this short demo for an extremely simple Community Management System</h2>
  <mat-list role="list">
    <mat-list-item>Click on "Communities" above to see the table</mat-list-item>
    <mat-list-item>Feel free to add more communities</mat-list-item>
    <mat-list-item>Click the red trashcan to delete a community and accept the popup</mat-list-item>
    <mat-list-item>Click the location icon to see a map popup</mat-list-item>
  </mat-list>
  <hr>
  <ul>
    <li>This short demo utilizes cloud functions and a static Angular9 app all running on Azure</li>
    <li>Due to Eskom's wonderful ability to remove 6 hours of my day through load-shedding, this app is very basic</li>
    <li>Most important, enjoy!</li>
  </ul>

</div>
