<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span class="title">CMS Demo for Glovent</span>
    <a mat-button [routerLink]="['/home']" routerLinkActive="router-link-active">Home</a>
    <a mat-button [routerLink]="['/communities']" routerLinkActive="router-link-active">Communities</a>
  </mat-toolbar-row>
</mat-toolbar>
