<h1 mat-dialog-title>{{ community.id?"Edit " + community.name:"Add new community" }}</h1>
<div mat-dialog-content>
  <input type="hidden" [(ngModel)]="community.id" readonly>
  <mat-form-field>
    <mat-label>Estate or Community Name</mat-label>
    <input matInput [(ngModel)]="community.name">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Latitude</mat-label>
    <input matInput type="number" [(ngModel)]="community.latitude">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Longitude</mat-label>
    <input matInput type="number" [(ngModel)]="community.longitude">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Friendly location name</mat-label>
    <input matInput [(ngModel)]="community.location">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Maps address</mat-label>
    <input matInput [(ngModel)]="community.mapString">
  </mat-form-field>
  <hr>
  <mat-form-field>
    <mat-label>Home Owner's Association</mat-label>
    <input matInput [(ngModel)]="community.hoaName">
  </mat-form-field>
  <mat-form-field>
    <mat-label>HOA Registration number</mat-label>
    <input matInput placeholder="E.g. REG2019-XXXXXXX" [(ngModel)]="community.hoaRegistration">
  </mat-form-field>
  <mat-form-field>
    <mat-label>HOA Email</mat-label>
    <input matInput type="email" [(ngModel)]="community.hoaEmail">
  </mat-form-field>
  <mat-form-field>
    <mat-label>HOA Tel</mat-label><span matPrefix>+27 &nbsp;</span>
    <input matInput type="tel" [(ngModel)]="community.hoaTel">
  </mat-form-field>
</div>
<div mat-mat-dialog-actions>
  <button mat-button (click)="onNoClick()" cdkFocusInitial>No</button>
  <button mat-button [mat-dialog-close]="community">Yes</button>
</div>
