/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

@import '~@angular/material/theming';
@include mat-core();

$primary: mat-palette($mat-purple, 800);

@mixin primary-color {
  $primary-color: map-get($map: $primary, $key: 800);
  color: $primary-color;
}

@mixin primary-background-contrast-color {
  $primary-color: map-get($map: $primary, $key: 400);
  $font-color: map-get($map: map-get($map: $primary, $key: contrast), $key: 400);
  background-color: $primary-color;
  color: $font-color !important;
}

.router-link-active {
  @include primary-background-contrast-color();
}

.content {
  margin: 1em;
}
