<h1 mat-dialog-title>Delete {{community.name}}</h1>
<div mat-dialog-content>
  <p>Are you sure you want to delete {{community.name}}?</p>
</div>
<div mat-mat-dialog-actions>
  <button mat-button (click)="onNoClick()" cdkFocusInitial>No</button>
  <button mat-button [mat-dialog-close]="community">Yes</button>
</div>
